
.navbar{
  width: 100vw;
  height: 10vh;
  position: sticky;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  display: flex;
  padding: 0 8%; 
  justify-content: flex-start;
  align-items: center;
}

.brand{
  font-family: 'Pirata One', cursive;
  font-weight: 400;
}

.menu{
  display: flex;
  height: 100%;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  list-style-type: none;
  font-size: 1.2rem;
  text-transform: uppercase;
}